<header class="header bg-primary py-4">
  <nav>
    <ul class="d-flex justify-content-center">
      <li class="me-4">
        <a href="index.html" class="text-white">Homepage</a>
      </li>
      <li class="me-4">
        <a href="page-1.html" class="text-white">Page 1</a>
      </li>
      <li class="me-4">
        <a href="page-2.html" class="text-white">Page 2</a>
      </li>
      <li>
        <a href="page-3.html" class="text-white">Page 3</a>
      </li>
    </ul>
  </nav>
</header>