.text-primary {
  color: #ec60a6;
}

.text-secondary {
  color: #7a2ef6;
}

.text-white {
  color: #ffffff;
}

.bg-primary {
  background: #ec60a6;
}

.bg-secondary {
  background: #7a2ef6;
}

.bg-light {
  background: #f8f9fa;
}

.bg-dark {
  background: #343a40;
}
